<div class="form-container">
  <form [formGroupName]="signup-form">
    <input type="text" placeholder="First Name" class="form-name" formControlName="firstname">
    <input type="text" placeholder="Last Name" class="form-name" formControlName="lastname">
    <input type="text" placeholder="E-mail" class="" formControlName="email">
    <input type="text" placeholder="" class="" formControlName="phone">
    <input type="text" placeholder="" class="" formControlName="dob">
    <div [formGroupName]="address">
      <input type="text" placeholder="houseno" class="" formControlName="houseno">
      <input type="text" placeholder="street" class="" formControlName="street">
      <input type="text" placeholder="landmark" class="" formControlName="landmark">
      <input type="text" placeholder="pincode" class="" formControlName="pincode">
      <input type="text" placeholder="city" class="" formControlName="city">
      <input type="text" placeholder="state" class="" formControlName="state">
    </div>
    <input type="text" placeholder="username" class="" formControlName="username">
    <input type="text" placeholder="password" class="" formControlName="password">
    <input type="text" placeholder="confirmpassword" class="" formControlName="confirmpassword">
  </form>
</div>